

<nav id="navbar-header" class="navbar navbar-expand-lg">
    <div class="container">
        <a href="/">Home</a>
        <!-- <a href="/"><img src="/img/favicon.png" alt=""></a> -->
        <a href="/dashboard"><h1>Dashboard</h1></a>
        <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href="/">
            <img src="img/top_header_logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>

        <nav class="navbar">
        <div class="links">
            <a class="new-item-link" href="/user/logout">Logout</a>
          </div></nav>
    </div>

  </nav>
  
  
  