
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { title: "Home page" }) %>
  <body>
  
    <%- include('partials/admin-navbar.ejs') %>	
<br>
    <div class="container">
        <div class="section-content">
            <div class="row">
    <div class="links">
      <h5><a href="/addhome">Add Home content</a> </h5>
      <h5><a href="/addimage">Add Image</a> </h5>
      <h5><a href="/addspecialdish">Add Special Dishes</a> </h5>
        <h5><a href="/addabout">About</a></h5>  
        <h5><a href="/addmenu">Menu</a></h5>
        <!-- <h5><a href="/addreservation">Reservation</a></h5> -->
      </div>
    </div>
        </div>
            </div>
            
  </body></html>
 