<%- include('partials/head.ejs', { title: "Reservation page" }) %>

<!DOCTYPE html>
<!--
	Resto by GetTemplates.co
	URL: https://gettemplates.co
-->
<html lang="en">


<%- include('partials/navbar.ejs') %>




<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style="background-image: url(img/reservation-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Reservation
                        </span>
                        <h2>
                            Book Now
                        </h2>
                    </div>

                    <form action="/addReservation" method="POST">
                        <div class="row">
                          <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="Name" value="" id="name" name="name" required /> 
                        </div>
                        <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="Email" value="" id="email" name="email" required />
                          </div>
                          <div class="col-md-12 form-group"><input type="number" class="form-control" placeholder="Phone" value="" id="phone" name="phone" required /> 
                            </div>
                            <div class="col-md-6 form-group"><input type="date" class="form-control" value="" placeholder="" id="date" name="date" required /> 
                              </div>
                              <div class="col-md-6 form-group"><input type="time" class="form-control" value="" id="time" name="time" required />   
                                </div>
                                <div class="col-md-12 form-group"> 
                                <input type="number" class="form-control" placeholder="Person" id="person" name="person" required /> 
                                 </div>

                                <div class="col-md-12 form-group">
                                     <textarea placeholder="Your Message" id="message" class="form-control" name="message" rows="6" required></textarea>           
                                </div>
                                     <div class="col-md-12 text-center">
                                        <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
                                         </div>
                                        </div>
                                            </form>
                                             </div>
                                                </div>           

        </div>
        
    </div>
</section>
<!-- End of Reservation Section -->		

<%- include('partials/footer.ejs') %>

</body>
</html>


